@import url(reset.css);
@import url(variables.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Mobile first */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.section-offers,
.container-header {
  padding: 10px 14px;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: 2;
  background-color: #282828;
  height: 50px;
  width: 100%;
}

ul {
  display: none;
}

.disabled {
  cursor: not-allowed;
}

.company-name {
  width: 300px;
  color: var(--whiteFontColor);
  font-size: var(--mainFontSize);
  font-weight: bold;
}

.headerBackground {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 50px);
  background-image: url(img/Europe.jpg);
  background-position: center;
  background-size: cover;
  color: var(--whiteFontColor);
}

.header-content-wraper > h1,
.header-content-wraper > p,
.header-content-wraper > button {
  color: var(--whiteFontColor);
}

.header-content-wraper > h1 {
  font-size: var(--titleFontSize);
}

.header-content-wraper {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
}

.button-offer {
  background: transparent;
  padding: 5px 30px;
  border: 3px solid #fff;
  font-size: var(--mainFontSize);
  color: var(--whiteFontColor);
}

/* Main */

/* Specialists - Our People */

.our-people {
  padding: 20px;
}

.specialist {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content-wraper-specialist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  align-self: center;
  width: 40%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 7% 0;
}

.specialist-title {
  font-size: var(--titleFontSize);
  font-weight: bold;
  text-align: center;
  padding: 5% 0;
}

.specialist > div > h2 {
  font-weight: bold;
  margin-bottom: 2%;
}

.specialist > div > p {
  text-align: center;
}

/* Offers section */
.section-offers {
  background-color: #282828;
}
.offers {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.single-offer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  aspect-ratio: 1;
  background-color: white;
  margin-bottom: 10%;
}

.section-offers > h1 {
  text-align: center;
  font-size: var(--middleFontSize);
  color: var(--whiteFontColor);
  padding: 5% 0;
}

.single-offer > h2 {
  font-size: var(--middleFontSize);
  font-weight: bold;
}
.single-offer > p {
  font-size: var(--mainFontSize);
}

.single-offer:first-of-type {
  position: relative;
  z-index: 1;
}

.dot {
  position: absolute;
  background: #e07a64;
  width: 22px;
  height: 22px;
  top: -11px;
  left: -11px;
  border-radius: 50%;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 15vh;
  background: #4e4e4e;
  color: var(--whiteFontColor);
  padding: 5px;
}

.footer-wraper {
  margin-top: 10px;
}

i:first-child {
  margin-right: 10px;
}

/* Tablet */

@media only screen and (min-width: 768px) {
  .main-container,
  .section-offers,
  .container-header {
    padding: 15px 0;
  }

  .container {
    margin: 0 auto;
    padding: 0 20px;
    width: 80%;
  }

  .container-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
  }

  .company-name {
    font-size: 28px;
  }

  nav {
    width: 100%;
    height: 70px;
  }

  ul {
    display: flex;
    align-items: center;
  }

  li {
    display: inline;
    margin: auto 0;
  }

  li a {
    text-decoration: none;
    color: var(--whiteFontColor);
    margin: auto 10px;
    font-size: 22px;
    line-height: 18px;
  }

  .header-content-wraper {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .header-content-wraper > p {
    margin: 6% 0;
  }

  .button-offer {
    padding: 10px 60px;
    font-size: 26px;
  }

  .content-wraper-specialist {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }

  .offers {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .single-offer {
    width: 35%;
  }

  footer {
    height: 10vh;
  }
}

/* Desktop */

@media only screen and (min-width: 1080px) {
  .main-container {
    display: flex;
    justify-content: center;
  }

  .container {
    width: 960px;
    margin: 0 auto;
  }

  .header-content-wraper {
    margin: 0 auto;
  }

  .section-offers > h1 {
    font-size: 36px;
    margin: 0;
    padding: 10%;
  }

  nav {
    width: 100%;
    position: static;
  }

  ul {
    display: flex;
    align-items: center;
  }

  li {
    margin: auto 0;
    display: inline;
  }

  li a {
    text-decoration: none;
    color: var(--whiteFontColor);
    margin: auto 10px;
    line-height: 18px;
  }

  .header-content-wraper > p {
    margin: 6% 0;
  }

  .offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    margin: 0 auto;
  }
  .single-offer {
    width: 26%;
    transition: 0.5s ease-in-out;
  }

  .button-offer {
    padding: 10px 60px;
    font-size: 26px;
    transition: 1s;
  }

  .button-offer:hover {
    background: white;
    color: black;
  }

  .single-offer:hover {
    transform: scale(1.05);
  }

  .specialist > img {
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
  }

  .specialist {
    display: flex;
    flex-direction: row;
  }

  .specialist > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 4%;
  }

  .specialist > div > h2 {
    align-self: flex-start;
  }

  .specialist > p {
    width: 500px;
  }

  .specialist > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 4%;
  }

  .specialist:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .content-wraper-specialist {
    flex-direction: column;
    margin-right: 4%;
  }

  .specialist:nth-of-type(even) > div > h2 {
    width: 100%;
  }
  .specialist:nth-of-type(even) > div > h2,
  .specialist:nth-of-type(even) > div > p {
    text-align: end;
  }

  .specialist > div > p {
    text-align: start;
    font-size: 20px;
  }

  .specialist > div > h2 {
    font-size: var(--middleFontSize);
  }

  footer {
    height: 10vh;
  }
}
